*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body{
  background: linear-gradient(97.67deg, #0F1B3B 2.6%, #232938 94.56%);
  /* background: linear-gradient(97.67deg, #0F1B3B 2.6%, #232938 94.56%); */
  margin: 20px;

}